<% @grouped_issues.each do |milestone, issues| %>

	<div class="alert-message <%= alert(milestone.due_on) %>">

		<h2><%= milestone.title %><h2>

		<% issues.each do |issue| %>
			<h3><%= issue.repo %> #<%= issue.number %></h3>
			<p><%= issue.title %>: <%= issue.body %></p>
	
		<% end %>

	</div>

<% end %>
